# Global
.*.swp
.DS_Store

# Application
web/vendor
web/var/cache
web/var/logs

# Data
data

# PHPStorm
.idea

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties
